
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

header {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #fff;
  background-color: #4CAF50;
  padding: 10px;
  text-align: center;
}

#navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 200px;
  background-color: #333;
  color: #fff;
  overflow-y: auto;
  padding: 10px;
}

#navbar ul {
  list-style-type: none;
  padding: 0;
}

#navbar li {
  margin: 10px 0;
}

.nav-link {
  color: #ddd;
  text-decoration: none;
  font-size: 1em;
}

.nav-link:hover {
  color: #fff;
}


#main-doc {
  margin-left: 220px;
  padding: 20px;
}

.main-section {
  margin-bottom: 40px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

pre {
  background-color: #f4f4f4;
  padding: 10px;
  border-left: 4px solid #4CAF50;
  overflow-x: auto;
}

code {
  font-family: Consolas, monospace;
  color: #e63946;
}

@media (max-width: 768px) {
  #navbar {
      position: relative;
      width: 100%;
      height: auto;
  }

  #main-doc {
      margin-left: 0;
  }

  .nav-link {
      display: block;
      margin: 5px 0;
      text-align: center;
  }
}
